In [34]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [35]:
train = pd.read_csv('./data/train.csv')
print(train.info())
print(train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB
None
   id          brand              model  model_year  milage      fuel_type  \
0   0           MINI      Cooper S Base        2007  213000       Gasoline
1   1        Lincoln              LS V8        2002  143250       Gasoline
2   2      Chevrolet  Silverado 2500 LT        2002  136731  E85 Flex Fuel
3   3        Genesis   G90 5.0 Ultimate        2017   19500       Gasoline
4   4  Mercedes-Benz        Metris Base        2021    7388       Gasoline

                                              engine  \
0       172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel
1       252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel
2  320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...
3       420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
4       208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                     transmission ext_col int_col  \
0                             A/T  Yellow    Gray
1                             A/T  Silver   Beige
2                             A/T    Blue    Gray
3  Transmission w/Dual Shift Mode   Black   Black
4                     7-Speed A/T   Black   Beige

                                 accident clean_title  price
0                           None reported         Yes   4200
1  At least 1 accident or damage reported         Yes   4999
2                           None reported         Yes  13900
3                           None reported         Yes  45000
4                           None reported         Yes  97500

In [36]:
percentage_non_null = train.notnull().sum() * 100 / len(train)
print(percentage_non_null)

id              100.000000
brand           100.000000
model           100.000000
model_year      100.000000
milage          100.000000
fuel_type        97.303920
engine          100.000000
transmission    100.000000
ext_col         100.000000
int_col         100.000000
accident         98.699432
clean_title      88.639124
price           100.000000
dtype: float64

# Brand & Models

In [37]:
print(train['brand'].nunique())

57

In [38]:
train.groupby('brand')['model'].nunique()
#train.groupby('brand')['model'].unique()

brand
Acura             85
Alfa               7
Aston             11
Audi             183
BMW              255
Bentley           26
Bugatti            1
Buick             32
Cadillac         104
Chevrolet        237
Chrysler          32
Dodge             96
FIAT               8
Ferrari           33
Ford             304
GMC               69
Genesis           25
Honda             71
Hummer             4
Hyundai           70
INFINITI          57
Jaguar            50
Jeep              78
Karma              2
Kia               71
Lamborghini       27
Land              83
Lexus            131
Lincoln           82
Lotus              6
Lucid              7
MINI              13
Maserati          30
Maybach            1
Mazda             67
McLaren           10
Mercedes-Benz    265
Mercury            6
Mitsubishi        22
Nissan           178
Plymouth           2
Polestar           1
Pontiac           19
Porsche          158
RAM               47
Rivian             4
Rolls-Royce        7
Saab               2
Saturn             3
Scion             10
Subaru            57
Suzuki             4
Tesla             39
Toyota           224
Volkswagen        92
Volvo             45
smart              2
Name: model, dtype: int64

In [39]:
train[['model_name', 'model_config']] = train['model'].str.split(' ', n=1, expand=True)
car_model = train[['brand', 'model', 'model_name', 'model_config']]
#print(car_model)

print(train.groupby('brand')['model_name'].nunique())
car_model[car_model['brand']=='Chevrolet'][['brand', 'model', 'model_name', 'model_config']]

brand
Acura             43
Alfa               1
Aston              4
Audi              74
BMW              136
Bentley           10
Bugatti            1
Buick             23
Cadillac          56
Chevrolet         94
Chrysler          23
Dodge             41
FIAT               7
Ferrari           28
Ford             142
GMC               26
Genesis           16
Honda             44
Hummer             3
Hyundai           35
INFINITI          39
Jaguar            24
Jeep              34
Karma              2
Kia               36
Lamborghini       13
Land              10
Lexus             75
Lincoln           52
Lotus              4
Lucid              6
MINI               7
Maserati          16
Maybach            1
Mazda             32
McLaren            9
Mercedes-Benz    131
Mercury            6
Mitsubishi        11
Nissan           121
Plymouth           2
Polestar           1
Pontiac           16
Porsche           70
RAM               18
Rivian             3
Rolls-Royce        6
Saab               1
Saturn             2
Scion              8
Subaru            25
Suzuki             4
Tesla             10
Toyota           110
Volkswagen        55
Volvo             29
smart              2
Name: model_name, dtype: int64

            brand                    model model_name    model_config
2       Chevrolet        Silverado 2500 LT  Silverado         2500 LT
7       Chevrolet       Silverado 1500 1LZ  Silverado        1500 1LZ
10      Chevrolet               Camaro 1LT     Camaro             1LT
42      Chevrolet     Corvette Grand Sport   Corvette     Grand Sport
46      Chevrolet            Corvette Base   Corvette            Base
...           ...                      ...        ...             ...
188480  Chevrolet              Traverse RS   Traverse              RS
188486  Chevrolet                Tahoe LTZ      Tahoe             LTZ
188507  Chevrolet  Corvette Stingray w/3LT   Corvette  Stingray w/3LT
188524  Chevrolet               Camaro 1LT     Camaro             1LT
188527  Chevrolet               Camaro Z28     Camaro             Z28

[16335 rows x 4 columns]

In [40]:
print(train.head())

   id          brand              model  model_year  milage      fuel_type  \
0   0           MINI      Cooper S Base        2007  213000       Gasoline
1   1        Lincoln              LS V8        2002  143250       Gasoline
2   2      Chevrolet  Silverado 2500 LT        2002  136731  E85 Flex Fuel
3   3        Genesis   G90 5.0 Ultimate        2017   19500       Gasoline
4   4  Mercedes-Benz        Metris Base        2021    7388       Gasoline

                                              engine  \
0       172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel
1       252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel
2  320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...
3       420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
4       208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                     transmission ext_col int_col  \
0                             A/T  Yellow    Gray
1                             A/T  Silver   Beige
2                             A/T    Blue    Gray
3  Transmission w/Dual Shift Mode   Black   Black
4                     7-Speed A/T   Black   Beige

                                 accident clean_title  price model_name  \
0                           None reported         Yes   4200     Cooper
1  At least 1 accident or damage reported         Yes   4999         LS
2                           None reported         Yes  13900  Silverado
3                           None reported         Yes  45000        G90
4                           None reported         Yes  97500     Metris

   model_config
0        S Base
1            V8
2       2500 LT
3  5.0 Ultimate
4          Base

# Fuel Type

In [41]:
print('[Fuel Type]: ', train['fuel_type'].unique())
print('[accident]: ', train['accident'].unique())
print('[clean_title]: ', train['clean_title'].unique())

[Fuel Type]:  ['Gasoline' 'E85 Flex Fuel' nan 'Hybrid' 'Diesel' 'Plug-In Hybrid' '–'
 'not supported']
[accident]:  ['None reported' 'At least 1 accident or damage reported' nan]
[clean_title]:  ['Yes' nan]

In [42]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
 13  model_name    188533 non-null  object
 14  model_config  188014 non-null  object
dtypes: int64(4), object(11)
memory usage: 21.6+ MB
None

# Feature Inspection

# Feature Engineering

# Model Training

In [ ]:
# convert object features to float values

In [44]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

X = train.copy()
y = X.pop('price')

baseline = RandomForestRegressor(criterion='squared_error', random_state=0)
baseline_score = cross_val_score(baseline, X, y, cv=5)
print(f'[baseline score]: {baseline_score}')

/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 303, in fit
    X, y = self._validate_data(X, y, multi_output=True,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Porsche'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 303, in fit
    X, y = self._validate_data(X, y, multi_output=True,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'MINI'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 303, in fit
    X, y = self._validate_data(X, y, multi_output=True,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'MINI'

  warnings.warn("Estimator fit failed. The score on this train-test"

[baseline score]: [nan nan nan nan nan]

/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 303, in fit
    X, y = self._validate_data(X, y, multi_output=True,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'MINI'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 303, in fit
    X, y = self._validate_data(X, y, multi_output=True,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/Users/myra/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'MINI'

  warnings.warn("Estimator fit failed. The score on this train-test"